Package       Version
------------- ----------
Click         7.0
Pillow        5.4.1
pip           18.1
pygame        1.9.4
PyQt5         5.11.3
PyQt5-sip     4.19.13
pyqt5-tools   5.11.3.1.4
python-dotenv 0.10.1
setuptools    40.6.3
